<div class="out-input">
  Input1:<app-auto-complete (handleSearch)="autoCompleteSearch($event)" (valueChange)="onValueChange1($event)"
    [searchResult]="searchResult">
  </app-auto-complete>
</div>

<div class="out-input">
  Input2:<app-auto-complete (handleSearch)="autoCompleteSearch2($event)" (valueChange)="onValueChange2($event)"
    [searchResult]="searchResult2"></app-auto-complete>
</div>

<div class="show">
  <div>inputValue1 value for use: {{inputValue1}}</div>
  <div>inputValue2 value for use: {{inputValue2}}</div>
</div>

<router-outlet></router-outlet>
